*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    font-size: larger;
    list-style: none; 
}

.navbar img{
    width: 5%;
    height: 5%;
    margin-right: 40px;
}

.navbar li a{
    padding-right: 20px;
}

.para{
    margin: 3% 5% 0% 5%;
    /* padding: 5%; */
}

.card{
    display: flex;
    flex-direction: row;
}

.card-img-top{
    display: block;
    max-width: 200px;
    height: 200px;
}

.product-heading{
    margin: 20px;
    padding: 20px;
}